{% extends 'base.html' %}

{% block title %}Politics{% endblock %}

{% block content %}
  <h1>Politics</h1>
  <main>
    <ul class="articles-list">
      {% for article in articles %}
        <li class="article{% if forloop.first %} grid-column-span-2{% endif %}">
          <h2>{{ article.title }}</h2>
          <a href="{{ article.link }}" style="color: rgb(212, 18, 25);">Read More</a>
        </li>
      {% empty %}
        <li>No articles found.</li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}



